<h1><%= @house.name %></h1>

<p><u> Motto: </u></p>
    <%= @house.motto %>

<p><%= image_tag @house.logo_img_url %></p>

<p><u>Description: </u></p>
    <%= @house.description %>

<p><u>House Members: </u></p>
<% @users.each do |user| %>
    <li><%= link_to user.name, "/users/#{user.id}" %></li>
<% end %>