<h1><%= @house.name %> House</h1>

<p><u> Motto: </u></p>
 <p> <%= @house.motto %> </p>

<img src="<%=@house.logo_img_url%>" alt="House Sigil" length="450" width="400">

<p><u>Description: </u></p>
   <div class="housedescription">
      <p> <%= @house.description %></p>
   </div>

<p><u>House Members: </u></p>
<div class="housemembers_hyperlinks">
<% @users.each do |user| %>
 <li>   <%= link_to user.name, "/users/#{user.id}" %>   </li>
<% end %>
</div>