<h1><%= @house.name %></h1>

<p><u> Motto: </u></p>
 <p> <%= @house.motto %> </p>

<p><%= image_tag @house.logo_img_url %></p>

<p><u>Description: </u></p>
   <p> <%= @house.description %></p>

<p><u>House Members: </u></p>
<% @users.each do |user| %>
   <div> <li><%= link_to user.name, "/users/#{user.id}" %></li> </div>
<% end %>