<h1><%= @house.name %> House</h1>

<p><u> Motto: </u></p>
 <p> <%= @house.motto %> </p>

<img src="<%=@house.logo_img_url%>" alt="House Sigil" length="450" width="400">

<p><u>Description: </u></p>
   <p> <%= @house.description %></p>

<p><u>House Members: </u></p>
<% @users.each do |user| %>
   <div class="hyperlinks"> <li><%= link_to user.name, "/users/#{user.id}" %></li> </div>
<% end %>