<h1>Edit Patronus</h1>

<% if flash[:message] %>
<%= flash[:message] %>
<% end %>

<%= form_for @patronu do |f| %>
    <%= f.label :animal %>
    <%= f.text_field :animal %>
    <%= f.label :meaning %>
    <%= f.text_area :meaning %>
    <%= f.label :user %>
    <%= f.collection_select(:user_id, @users, :id, :name, prompt: "Select User") %>
    <%= f.submit "submit" %>
<% end %>