<h1>Find Your Patronus</h1>

<% if flash[:message] %>
<%= flash[:message] %>
<% end %>

<%= form_for @patronu do |f| %>
    <%= f.label :animal %>
    <%= f.text_field :animal %>
    <%= f.label :meaning %>
    <%= f.text_area :meaning %>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
    <%= f.submit "Create!" %>
<% end %>