
<div class="students">

    <div id="student_box">
        <h1>Hogwarts Students</h1>

        <% @users.each do |user| %>
            <li style="display: inline; margin-left: 1em;"><%= link_to user.name, "/users/#{user.id}" %></li>
        <% end %>
    </div>

    
    <div id="house_and_more">
        <br>
        <p><b><u>View All Houses</u></b></p>
        <%= button_to "all houses", "/houses", method: :get %>
        <br>
        <p><b><u>View All Patronuses</u></b></p>
        <%= button_to "all patronuses", "/patronus", method: :get %>
        
        
    </div>


</div>


<div class="analysis">

        <div id="box1">
            <h4>Number of Students in House Gryffindor</h4>
            <li><%= @users.where(["house_id = ?", "1"]).count %></li>
        </div>

        <div id="box2">
            <h4>Number of Students in House Slytherin</h4>
            <li><%= @users.where(["house_id = ?", "3"]).count %></li>
        </div>

        <div id="box3">
            <h4>Number of Students in House Hufflepuff</h4>
            <li><%= @users.where(["house_id = ?", "4"]).count %></li>
        </div>
        <div id="box4">
            <h4>Number of Students in House Ravenclaw</h4>
            <li><%= @users.where(["house_id = ?", "2"]).count %></li>
        </div>
</div>
    
