<h1>Hogwarts Students</h1>

<% @users.each do |user| %>
    <li><%= link_to user.name, "/users/#{user.id}" %></li>
    <br>
<% end %>

<br>
<p><b><u>View All Houses</u></b></p>
<%= button_to "all houses", "/houses", method: :get %>
<br>
<p><b><u>View All Patronuses</u></b></p>
<%= button_to "all patronuses", "/patronus", method: :get %>

<br>
<br>

<p><b><u>Student Body Analysis</u></b></p>
<h6>Number of Students in House Gryffindor</h6>
<li><%= @users.where(["house_id = ?", "1"]).count %></li>
<br>
<h6>Number of Students in House Slytherin</h6>
<li><%= @users.where(["house_id = ?", "3"]).count %></li>
<br>
<h6>Number of Students in House Hufflepuff</h6>
<li><%= @users.where(["house_id = ?", "4"]).count %></li>
<br>
<h6>Number of Students in House Ravenclaw</h6>
<li><%= @users.where(["house_id = ?", "2"]).count %></li>
<br>