<h1>Create New User</h1>
<li>Test</li>

<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password_digest %>
    <%= f.label :house %>
    <%= f.collection_select(:house_id, @houses, :id, :name, prompt: "select your house!")%>
    <%= f.submit "create!" %>
<% end %>