<h1><%= @user.name %></h1>

<p>House: <%= link_to @user.house.name, "/houses/#{@user.house.id}" %></p>
<%= image_tag @user.house.logo_img_url %>

<% @patronus.each do |patronu| %>
    <p>Patronus: <%= link_to patronu.animal, "/patronus/#{patronu.id}" %></p>
<% end %>

<% if @patronus.count == 0 %>

<div class="button">
    <%= button_to "create patronus", "/patronus/new", method: :get %>
</div>
<% end %>

<% if @patronus.count > 0 %>
    <% @patronus.each do |patronu| %>

    <div class="btn btn-secondary">
        <%= button_to "edit patronus", "/patronus/#{patronu.id}/edit", method: :get %>
    </div>
    <% end %>
<% end %>

<p><u><b>Wand Info: </b></u></p>
<% @wands.each do |wand| %>
    <li><b>Wood: </b><%= wand.wood %></li>
    <li><b>Core: </b><%= wand.core %></li>
    <li><b>Length: </b><%= wand.length %></li>
    <li><b>Flexibility: </b><%= wand.flexibility %></li>
    <% end %>
<br>

<% if @wands.count == 0 %>
<div class="button">
    <%= button_to "create your wand!", "/wands/new", method: :get %>
</div>
<% end %>

<% if @wands.count > 0 %>
    <% @wands.each do |wand| %>
        <%= button_to "edit wand", "/wands/#{wand.id}/edit", method: :get %>
    <% end %>
<% end %>
    
<p><u><b>Spell Book: </b></u></p>
 <% @castings.each do |casting| %>
 <li><%= link_to casting.spell.name, "/spells/#{casting.spell.id}"  %></li>
 <% end %>
<br>
<br>
<div class="button">
 <%= button_to 'cast a spell', "/castings/new", method: :get %>
</div>

<br>
<br>

<audio src="https://ia800805.us.archive.org/4/items/11TheQuidditchMatch/2001%20-%20Harry%20Potter%20and%20The%20Sorcerer%27s%20Stone/19-HedwigsTheme.mp3" controls></audio>

<br>
<br>
<br>
<div class="button">
<%= button_to "edit my profile", "/users/#{@user.id}/edit", method: :get %>
</div>

<div class="button">
<%= button_to "delete my profile", "/users/#{@user.id}", method: :delete %>
</div>