<h1>Wand Modification Shop</h1>

<% if flash.now[:message] %>
<%= flash.now[:message] %>
<% end %>

<%= form_for @wand do |f|  %>
<%= f.label :wood %>
<%= f.collection_select(:wood, @wood, :to_s, :to_s, prompt: "Choose your wood type") %>
<%= f.label :length %>
<%= f.collection_select(:length, @length, :to_s, :to_s, prompt: "Choose a wand length") %>
<%= f.label :flexibility %>
<%= f.collection_select(:flexibility, @flexibility, :to_s, :to_s, prompt: "Choose your flexibility") %>
<%= f.label :core%>
<%= f.collection_select(:core, @core, :to_s, :to_s, prompt: "Choose your core")  %>
<%= f.hidden_field :user_id, :value => session[:user_id] %>
<%= f.submit "submit"%>
<% end %>
