<!DOCTYPE html>
<html>
  <head>
    <title>ProjectPractice1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">

    
    


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <!-- Image and text -->
    
    
    
    
    
    <div class="btn-toolbar" id="charlie" role="toolbar" aria-label="Toolbar with button groups">

      <a href="https://fontmeme.com/harry-potter-font/"><img src="https://fontmeme.com/permalink/190731/d7e5a810a8115e5cf0bd71ba2f7ee5ed.png" alt="harry-potter-font" border="0" height="100%"></a>

      <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-secondary"> <%= button_to 'User Profile', "/users/#{session[:user_id]}", method: :get %>   </button>
          <button type="button" class="btn btn-secondary"><%= button_to 'All Houses', "/houses", method: :get %>  </button>
          <button type="button" class="btn btn-secondary"><%= button_to 'Logout', "/logout", method: :delete %>  </button>
        </div>
      </div>
    
      <%= yield %>
      <% if logged_in? %>
        <%= button_to 'log out', '/logout', method: :delete %>
      <% end %>
    
  </body>

</html>
